---
import Card from "./Card/index.astro";
import { LINK_PREVIEW } from "../lib/constants";
import { LinkPreview } from 'astro-embed'
---

<Card colSpan="md:col-span-2" rowSpan="md:row-span-4">
  <div class="flex flex-col gap-2">
    <LinkPreview
      id="https://www.facebook.com/100089944839116/posts/pfbid0SshxbYExa8sKFdEybyTDHRb3hkYekHi1n1YQYt732J8bKDQitruUsq6524rvTirEl"
    />
  </div>
</Card>
