---
import {Image} from "astro:assets";
import Card from "../Card/index.astro";

interface Props {
    title: string;
    date: Date;
    url: string;
    customData: string
}

const {title, date, url, customData} = Astro.props;
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-3">
    <li class="w-full text-neutral-100 hover:text-neutral-400 ease-in-out transition-colors my-2">
        <a
                class="text-base text-white no-underline md:text-base decoration-none flex justify-between"
                href={`/blog/${url}`}
        >
            <div class="flex flex-col h-full">
                <h6 class="m-0 font-bold text-xl">
                    {title}
                </h6>
                <h6 class="m-0 font-light text-xl">
                    Year {new Date(date).getFullYear()}
                </h6>
            </div>
            <div class="flex flex-col">
                <Image
                        src={customData}
                        alt="cover"
                        width="75"
                        height="75"
                        class="max-w-[75px] max-h-[75px] select-none absolute relative right-[0px] bottom-auto z-auto opacity-100 md:opacity-100 md:relative md:right-[0px] md:bottom-auto md:z-auto pointer-events-none shadow-border"
                />
            </div>
        </a>
    </li>
</Card>